@use '../../shared/style.scss' as *;

.list-container {
    @extend %display-center;

    &__items {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}