<div class="todo-container">
    <div class="form-container">
        <form>
            <div class="form-container__form-group">
                <label for="task" class="form-container--label-style">Task name</label>
                <input type="text" id="task" class="form-container--input-style-text"/>
            </div>
            <div class="form-container__form-group">
                <label for="date" class="form-container--label-style">Date</label>
                <input type="text" id="date" class="form-container--input-style-text"/>
            </div>
            <div class="form-container__form-group">
                <label for="Important" class="form-container--label-style">Important note ?</label>
                <input type="checkbox" id="Important" class="form-container--input-checkbox-color"/>
            </div>
        </form>
    </div>
    <app-todo-list></app-todo-list>
</div>
