@use '../../shared/style.scss' as *;

.todo-container {
    @extend %display-center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.form-container {
    @extend %display-center;
    color: white;

    &__form-group {
        @extend %display-center;
        flex-direction: column;
        margin: 10px;
    }

    &--input-style-text {
        width: 100%;
        padding: 6px 10px;
        margin: 4px 0;
        border: none;
        border-bottom: 2px solid black;
        color: white;
        background-color: transparent;
    }

    &--input-style-text:focus {
        border: 3px solid #555;
    }

    &--input-checkbox-color {
        background-color: aqua;
    }
}