@use '../../../scss/variables' as *;

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        text-align: center;

        
    }

    &--text-logo {
        font-size: 30px;
        color: white;
        font-weight: bold;
    }

    &__button-start {
        border: 0;
        margin-top: 15px;
        border-radius: 10px;
        width: 75px;
        height: 50px;
        background-color: $button-color-background;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    &__button-start:hover {
        background-color: $button-color-background-hover;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transform: scale(1.25);
        color: white;
    }


}