<div class="edit">
    <div class="edit__form">
        <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()">
            <div class="edit__form-group">
                <label for="task">Task name</label>
                <input type="text" id="task" formControlName="task">
            </div>
            <div class="edit__form-group">
                <label for="date">Date</label>
                <input type="text" id="date" formControlName="date">
            </div>
            <div class="edit__form-group">
                <label for="important">Is it important?</label>
                <input type="checkbox" id="important" formControlName="important">
            </div>
            <button>Edit Task</button>
        </form>
    </div>
</div>
